
.mainbox{
    background: black;
    color: azure;
    width: 800px;
    margin: 0 auto;
    font-family: Tahoma, serif;
}
.menu{
    background-color: azure;
    font-family: Tahoma, serif;
}

.leftside{
    position: relative;
    width: 100px;
    float: left;
    font-family: Tahoma, serif;
}

.main{
    background-color: yellow;
    width: 600px;
    float: left;
    text-decoration: none;
    color: black;
    font-size: 20px;
    height: 500px;
    font-family: Tahoma, serif;
}

.rightside{
    width: 100px;
    float: right;
    font-family: Tahoma, serif;
}

.footer{
    background-color: goldenrod;
    width: 800px;
    clear: both;
    text-align: center;
    font-family: Tahoma, serif;
}
.menu{
    height: 37px;
    text-align: center;
    font-family: Tahoma, serif;
}
.menu>ul>li{
    display: inline;
    padding: 5px 5px 5px 5px;
    background: gold;
    position: relative;
    top: 10px;
    font-family: Tahoma, serif;
    font-size: 15px;
    font-palette: dark;
}

.menu>li>a{
    text-decoration:none;
    color: #ffff99;
    font-family: Tahoma, serif;
}

.galery{
    max-width: 100px;

}
.mainbox>div>div{
    text-align: center;
    height: 50px;
    font-family: Tahoma, serif;
}


